.MemeThumbnail {
    height:92vh;
    overflow-y:auto ;
}
.MemeThumbnail>div{
    display: inline-block;
}
.MemeThumbnail>div>svg {
    max-width:512px;
    height:512px;
    size:auto;
    margin-right:20px ;
    margin-bottom: 15px;
}
