.Button{
    font-size: x-large;
    font-weight: 900;
    padding: 5px 10px;
    margin: 10px 5px;
    border: none;
    border-radius: 8px;
    box-shadow: 15px 15px 20px GREY;

}
.Button:hover{
    box-shadow: 10px 10px 20px GREY;
}
.Button img{
    height:42px ;
    width:42px;
}
.Button *{
    vertical-align: middle;
}
.warning{
    background-color: tomato;
}
.clicked{
    border: 1px solid grey;
    box-shadow: 2px 2px 15px GREY !important;
}